/**
 * Place your custom CSS styles here.
 **/

 .s-login-btn {
   position: absolute;
   background-color: green;
   top: 10px;
   right: 10px;
   font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    z-index: 2222222;
 }

.s-playlist-btn {
  background-color: green;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  z-index: 2222222;
}